/* halaman login */
/**
* perbaikan code login page
* untuk mengganti ke tampilan awal tinggal unkomen code yang di coment
*/
.card {
	background-color: #fff0;
}
.bg-login-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	background: rgb(116, 121, 121);
	background: linear-gradient(
		0deg,
		rgba(116, 121, 121, 0.64) 13%,
		rgba(255, 176, 0, 0.35058823529411764) 100%
	);
}

/*TEXT BOX*/
.info-box-dasbor {
    display: block;
    text-align: center; 
    font-weight: bold; 
    font-size: 30px; 
    line-height: 1.5; 
    padding: 18px 18px;
    color: white;
  }

.info-box-mini {
    display: block;
    text-align: center; 
    font-weight: bold; 
    font-size: 15px; 
    line-height: 1.5; 
    padding: 11px 11px;
    color: white;
  }

/*BUTTON DASHBOARD*/
/*Management Policy*/
.bg-mp {
    background-color: #E58B79 !important;
}
  
.bg-mp,
.bg-mp > a {
  color: #fff !important;
}
  
.bg-mp.btn:hover {
  background-color: #9b0000 !important;
  color: #ececec;
}

/*IMS MANUAL*/
.bg-im {
    background-color: #C5BDAC !important;
}
  
.bg-im,
.bg-im > a {
  color: #fff !important;
}
  
.bg-im.btn:hover {
  background-color: #747474 !important;
  color: #ececec;
}

/*ORGANIZATION CONTEXT*/
.bg-oc {
    background-color: #E29D63 !important;
}
  
.bg-oc,
.bg-oc > a {
  color: #fff !important;
}
  
.bg-oc.btn:hover {
  background-color: #b65200 !important;
  color: #ececec;
}

/*SMART QEESH MOBILE*/
.bg-sqm {
    background-color: #936A9B !important;
}
  
.bg-sqm,
.bg-sqm > a {
  color: #fff !important;
}
  
.bg-sqm.btn:hover {
  background-color: #5d0070 !important;
  color: #ececec;
}

/*DIGITAL WORK PERMIT*/
.bg-dwp {
    background-color: #4C87A7 !important;
}
  
.bg-dwp,
.bg-dwp > a {
  color: #fff !important;
}
  
.bg-dwp.btn:hover {
  background-color: #003e5f !important;
  color: #ececec;
}

/* LABEL BOX */
.label-box {
  border: 1px solid white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  min-width: 30px;
  width: 100%;
}

.label-text{
  font-size: 10px;
}

.label-box .label-box-icon {
  border-radius: 0.25rem;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.875rem;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 70px;
}

.rotate {
	text-align: center;
	-ms-transform: rotate(20deg); /* IE 9 */
	transform: rotate(-90deg);
  }


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 357px) and (orientation: portrait) {
	/* some CSS here */
	.bg-login-page {
		height: 100vh;
	}
	.bg-login-page .login-box img {
		margin-top: 40px;
		height: 80px;
	}
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	/* some CSS here */
	.bg-login-page {
		height: 100vh;
	}
	.bg-login-page .login-box img {
		/* margin-top: 40px; */
		height: 90px;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
	/* some CSS here */
	.bg-login-page {
		height: 100vh;
	}
}
/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	/* some CSS here */
	.bg-login-page {
		height: 90vh;
	}
	.bg-login-page .login-box img {
		margin-top: 40px;
		height: 80px;
	}
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
	/* some CSS here */
	.bg-login-page {
		height: 90vh;
	}
	.bg-login-page .login-box img {
		margin-top: 40px;
		height: 120px;
	}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	/* some CSS here */
	.bg-login-page {
		height: 90vh;
	}
	.bg-login-page .login-box img {
		margin-top: 40px;
		height: 120px;
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
	/* some CSS here */
	.bg-login-page {
		height: 75vh;
	}
	.bg-login-page .login-box img {
		height: 120px;
	}
}

.bg-login-page .login-box h6 {
	font-size: 15px;
	/* font-weight: 500; */
	margin-top: 5px;
}
.login-box .card-body {
	border-radius: 1%;
	/* background: #fdd591; */
	background: #44545494;
}
.bg-login-page .bg-header1 {
	background: #fca954;
	height: 35px;
}
.bg-login-page .bg-header2 {
	background: #3e92d1;
	height: 10px;
}
.card-footer-login {
	padding: 0.75rem 1.25rem;
	background-color: rgb(124 79 2);
	border-top: 0 solid rgba(0, 0, 0, 0.125);
}
