/**
 *  File Name             : templates.scc
 *  File Type             : CSS 
 *  File Package          : assets
 ** * * * * * * * * * * * * * * * * * **
 *  Author                : Rizky Ardiansyah
 *  Date Created          : 02/02/2022
 *  Quots of the code     : 'rapihkan lah code mu, seperti halnya kau menata kehidupan'
 */

/* Form Select Switches */
.switch {
	margin: 1px 0;
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.switch input {
	position: absolute;
	opacity: 0;
}

.switch span {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
	border-radius: 28px;
	background-color: #f9f9f9;
	border: 1px solid #dddddd;
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

.switch span:after {
	content: "";
	position: absolute;
	left: 2px;
	top: 1px;
	bottom: 1px;
	width: 24px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 50%;
	-webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.switch input:checked + span:after {
	left: 26px;
	border: none;
	-webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
	background-color: #eeeeee;
}

.switch-default span {
	border-color: #dbe1e8;
}

.switch-default input:checked + span {
	background-color: #dbe1e8;
}

.switch-primary span {
	border-color: #1bbae1;
}

.switch-primary input:checked + span {
	background-color: #1bbae1;
}

.switch-info span {
	border-color: #7abce7;
}

.switch-info input:checked + span {
	background-color: #7abce7;
}

.switch-success span {
	border-color: #aad178;
}

.switch-success input:checked + span {
	background-color: #aad178;
}

.switch-warning span {
	border-color: #f7be64;
}

.switch-warning input:checked + span {
	background-color: #f7be64;
}

.switch-danger span {
	border-color: #ef8a80;
}

.switch-danger input:checked + span {
	background-color: #ef8a80;
}

.user-panel .exit {
	display: inline-block;
	padding: 5px 5px 5px 40px;
}

.layout-navbar-fixed .wrapper .bg-new-dark .brand-link:not([class*="navbar"]) {
	background-color: #cd7e00;
}

.sidebar a {
	color: #ffffff;
}

.bg-new-soft {
	background-color: #bf8c3c;
}

.nav-pills .nav-link {
	color: #ffffff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #423a3a;
	background-color: #ffd966;
}
